[submodule "modules/MMM-Voice-Control"]
	path = modules/MMM-Voice-Control
	url = git@github.com:tushardhadiwal/MMM-Voice-Control.git
[submodule "modules/MMM-RTSPStream"]
	path = modules/MMM-RTSPStream
	url = git@github.com:tushardhadiwal/MMM-RTSPStream.git
[submodule "modules/MMM-iFrame"]
	path = modules/MMM-iFrame
	url = git@github.com:tushardhadiwal/MMM-iFrame.git
